---
import { ViewTransitions } from "astro:transitions";
import "./styles/globas.css";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}
const domain = "https://oscarherrera.tech";

const lang = getLangFromUrl(Astro.url);
console.log(lang);
const t = useTranslations({ url: Astro.url });
const { title = t("meta.title"), description = t("meta.description") } =
  Astro.props;
---

<meta charset="UTF-8" />
<meta http-equiv="etag" content="bcc81a7e8500db411d20c4d9f8a5f4b7d5922488" />
<meta name="msapplication-TileImage" content={`${domain}/opengraph.png`} />
<meta
  name="twitter:card"
  content="summary_large_image"
  data-shuvi-head="true"
/>
<meta name="twitter:site" content="@osedhelu12" data-shuvi-head="true" />
<meta name="twitter:creator" content="@osedhelu12" data-shuvi-head="true" />
<meta
  property="og:image:alt"
  content="Binance Academy"
  data-shuvi-head="true"
/>
<meta
  property="og:site_name"
  content="Binance Academy"
  data-shuvi-head="true"
/>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
  data-shuvi-head="true"
/>
<meta name="theme-color" content="#2e2e2e" data-shuvi-head="true" />
<meta
  name="apple-mobile-web-app-capable"
  content="yes"
  data-shuvi-head="true"
/>
<meta
  name="apple-mobile-web-app-status-bar-style"
  content="black-translucent"
  data-shuvi-head="true"
/>
<meta
  name="ahrefs-site-verification"
  content="86f2f08131d8239e3a4d73b0179d556eae74fa62209b410a64ff348f74e711ea"
  data-shuvi-head="true"
/>
<meta
  name="google-site-verification"
  content="wyJEt1aEuf8X_of3aofK_Tl5WprWou38Ze4o3ZeeGts"
  data-shuvi-head="true"
/>
<meta
  name="naver-site-verification"
  content="e70af2cacdaf993fe72ef9fd208822bbebc2e028"
  data-shuvi-head="true"
/>
<meta
  name="yandex-verification"
  content="7e56260ff92b3c3f"
  data-shuvi-head="true"
/>

<meta
  name="robots"
  content="index,follow,max-image-preview:large"
  data-shuvi-head="true"
/>
<meta name="description" content={description} data-shuvi-head="true" />
<meta property="og:title" content={title} data-shuvi-head="true" />
<meta property="og:description" content={description} data-shuvi-head="true" />
<meta
  property="og:url"
  content={`${domain}${Astro.url.pathname}`}
  data-shuvi-head="true"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#000000" />
<title data-shuvi-head="true">{title}</title>
<meta property="og:type" content="article" data-shuvi-head="true" />
<meta
  property="og:image"
  content={`${domain}/opengraph.png`}
  data-shuvi-head="true"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<ViewTransitions />
<!-- {lang === "es" && <meta http-equiv="refresh" content="0;url=/en/" />} -->
<link
  href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
