---
import { SEO } from "astro-seo";

import { ViewTransitions } from "astro:transitions";
import "./styles/globas.css";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}
const domain = "https://oscarherrera.tech";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations({ url: Astro.url });
const { title = t("meta.title"), description = t("meta.description") } =
  Astro.props;
---

<meta charset="UTF-8" />
<SEO
  titleTemplate="%s | Oscar Herrera | Portfolio"
  titleDefault="Oscar Herrera | Portfolio"
  charset="utf-8"
  canonical={domain}
  title={title}
  description={description}
  openGraph={{
    optional: { locale: lang, description, siteName: "Oscar Herrera" },
    basic: {
      url: domain,
      title,
      type: "image/svg+xml",
      image: domain + "/favicon.svg",
    },
    image: {
      width: 36,
      height: 36,
      alt: "Image Logo full stack developer",
      secureUrl: domain + "/favicon.svg",
      type: "image/svg+xml",
      url: domain + "/favicon.svg",
    },
    article: {
      authors: ["@osedhelu12"],
      expirationTime: new Date().toISOString(),
      modifiedTime: new Date().toISOString(),
      publishedTime: new Date().toISOString(),
      section: "Technology",
      tags: [
        "Technology",
        "Software",
        "Developer",
        "Blog",
        "Backend",
        "Frontend",
        "Back-end",
        "Front-end",
      ],
    },
  }}
  twitter={{
    creator: "@osedhelu12",
    description: description,
    card: "summary_large_image",
    image: domain + "/favicon.ico",
    imageAlt: "Logo empresa osedhelu",
    site: domain,
    title: title,
  }}
  extend={{
    link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
    meta: [
      {
        name: "twitter:image",
        content: domain + "/favicon.ico",
      },
      { name: "twitter:title", content: title },
      { name: "twitter:description", content: description },
    ],
  }}
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#000000" />
<title>{title}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<ViewTransitions />
<link
  href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
