---
import { dataMyInfo } from "@/config/myInfo";
import { Iconsjsx } from "./react/ui/Icons";
import { TextAnimation } from "./react/ui/TextAnimation";
import { TitleBanner } from "./react/shared/Banner/Title";
import { ImgBanner } from "./react/shared/Banner/Image";
---

<section class="section" id="home" class="flex items-center">
    <div class="container mx-auto mt-[100px] lg:mt-0">
        <div
            class="flex flex-col lg:flex-row grap-y-8 lg:items-center lg:grap-x-12"
        >
            <div class="flex-1 text-center lg:text-left font-secondary">
                <TitleBanner
                    client:load
                    className="fadeInUp text-[55px] font-bold leading-[0.8] lg:text-[90px]"
                >
                    Hola, Soy {dataMyInfo.name}
                    <span>{dataMyInfo.lastName}</span>
                </TitleBanner>
                <div
                    class="fadeInUp mb-6 text-[36px] lg:text-[60px] font-secundary font-semibold uppercase leading-[1.2]"
                >
                    <TextAnimation client:only />
                </div>
                <p class="mb-8 max-w-lg mx-auto lg:mx-0">
                    {dataMyInfo.description}
                </p>
                <div
                    class="flex gap-4 lg:mx-0 max-w-max items-center mb-12 mx-auto"
                >
                    <a
                        class="btn btn-lg flex items-center"
                        href="https://api.whatsapp.com/send?phone=573017982676"
                        target="_blank">Contactame</a
                    >
                    <a href="#" class="text-gradient btn-link">Mi portafolio</a>
                </div>
                <div class="flex gap-x-6 max-w-max mx-auto lg:mx-0">
                    {
                        dataMyInfo.socials.map((social) => (
                            <a href={social.href} target="_blank">
                                <Iconsjsx icon={social.icon} />
                            </a>
                        ))
                    }
                </div>
            </div>
            <div class="hidden lg:flex flex-1 max-w-[320px] lg:max-w-[482px]">
                <ImgBanner client:only />
            </div>
        </div>
    </div>
</section>
